#preloader { 
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center;
}

header {
	@include clearfix;
	background: url('../imagens/code-html.png') #000 no-repeat top center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 475px;
	width: 100%;
	position: relative;

	&:after {
		content:"";
		display: block;
		width: 100%;
		height: 45px;
		position: absolute;
		bottom: 0;
		@include gradient(90deg, $verde, $azul);
	}
	.menu {
		position: fixed;
		width: 100%;
		height: 90px;
		left: 0;
		top: 0;
		z-index: 9999;
	}
	.logo {
		float: left;
		margin: 25px 70px 0;
		img {
			width: 50px;
			height: auto;
		}
	}
	.links {
		float: right;
		nav, .social {
			display: inline-block;
		}
		nav {
			ul {
				li {
					display: inline-block;
					margin: 40px 10px 0;
					a {
						text-transform: uppercase;
						color: $branco;
						&:hover {
							&:after{
								width: 50%;
							}
						}
						&:after {
							content:"";
							display: table;
							margin: 5px auto;
							width: 0%;
							height: 2px;
							background-color: $branco;
							@include transition(.3s);
						}
					}
				}
			}
		}
		.social {
			margin-right: 20px;
			font-size: 20px;
			li {
				display: inline-block;
				margin: 30px 3px 0;
				border: 2px solid $branco;
				border-radius: 100%;
    			padding: 2px 12px 2px 12px;

    			&:hover {
    				background-color: $azul-claro;
    			}
    			a {
    				color: $branco;
    			}
			}
		}
	}
	h1,
	p {
		color: $branco;
		text-transform: uppercase;
		text-align: center;
	}
	h1 {
		clear: both;
		margin: 160px auto 30px auto;
		padding: 25px;
		border: 3px solid $branco;
		color: $branco;
		display: table;


		strong {
			> span {
				color: $azul-claro;
			}
		}
	}
	p {
	}
	.toggle {
		width: 30px;
		height: 30px;
		float: right;
		position: relative;
		overflow: hidden;
		margin: 30px 12px;
		display: none;

		&:hover {
			span {
				&:nth-child(1) {
					top: 8px;
				}
				&:nth-child(3) {
					top: 24px;
				}
			}
		}

		&.ativo {
			z-index: 11;
			/*top: -22px;*/
			span{
				background-color: $branco;
				&:nth-child(1) {
					@include rotate(43deg);
					top: 18px;
				}
				&:nth-child(2) {
					display: none;
				}
				&:nth-child(3) {
					@include rotate(134deg);
					top: 17px;
				}
			}
		}

		span {
			width: 30px;
			height: 2px;
			display: block;
			content: " ";
			background-color: $azul-claro;
			position: absolute;
			left: 0;
			@include transition(.2s);

			&:nth-child(1) {
				top: 6px;
			}
			&:nth-child(2) {
				top: 16px;
			}
			&:nth-child(3) {
				top: 26px;
			}
		}
	}

}
.navigation-background {
	background-color: $azul-claro;
}
.menu-responsivo {
	position: fixed;
	z-index: 10;
	left: -150px;
	top: 0;
	width: 150px;
	height: auto;
	@include gradient(0deg, $verde, $azul-claro);
	&.ativo{
		left: 0;
		width: 100%;
	}
	ul {
		list-style: none;
		padding-left: 0px;
		li {
			a {
				padding: 7px;
				display: block;
				color: $branco;
				&:hover,
				&:focus {
					background-color: rgba($preto, .4);
				}
			}
		}
	}
}
.layout {
	&.ativo {
	}
}

section {
	@include clearfix;
	position: relative;
	width: 100%;

}

#sobre {
	background-color: $branco;
	min-height: 275px;
	padding: 30px 0 60px;

	.avatar {
		padding: 50px;
		border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
		border: 7px solid $cinza-claro;

		img {
			width: 100%;
			height: auto;
			padding: 10px;
			margin: 0 auto;
		}
	}
	.box-habilidades {
		padding: 70px;
		margin: 20px 0 0;
		border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
		border: 7px solid $azul-claro;
		border-right-color: $laranja;
		border-left-color: $laranja;
		text-align: center;
		background: url('../imagens/development-icons-bg.png') repeat;
		background-size: cover;
		a {
			border: 3px solid $preto;
			padding: 25px;
			font-size: 17px;
			color: $preto;
			font-weight: 700;
			text-transform: uppercase;
			margin: 0 auto;
			border-radius: 5px;
			cursor: pointer;
			letter-spacing: 2px;

			&:hover {
				background-color: $laranja;
				color: $branco;
			}
		}
	}
	.links {	
		ul {
			padding-left: 0;

			li {
				background-color: $azul-claro;
				padding: 15px 25px 15px 25px;
				border-radius: 100%;
				text-align: center;
				margin: 10px 5px 0;
				display: inline-block;
				font-size: 24px;
				&:hover {
					padding: 20px 30px 20px 30px;
				}

				i {
					color: $branco;
				}
			}
		}
		.github-btn {
			padding: 15px 25px 15px 25px;
			border-radius: 100%;
			text-align: center;
			margin: 10px auto;
			display: block;
			font-size: 24px;
			&:hover {
					padding: 20px 30px 20px 30px;
			}
		}
		.social, .resumo{
			padding: 50px;
			border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
		}
		.social {
			border: 7px solid $verde;
			margin: 0 0 10px;
			background: url('../imagens/apple_bg_icons.png') no-repeat center right;
			background-size: 60%;
			text-align: center;	
		}
		.resumo {
			border: 7px solid $laranja;
			border-right-color: $azul-claro;
			border-left-color: $azul-claro;
			p {
				&:first-letter {
					text-transform: uppercase;
					font-size: 24px;
					color: $laranja;

				}
			}
		}
	}
}
#habilidades {
	background-color: #F9F9F9;
	min-height: 475px;
	margin: 70px 0 0;

	.skill {
		background-color: $branco;
		box-shadow: -2px 40px 34px -24px rgba(0, 0, 0, 0.2);
		border-radius: 100%;
		transition: all 0.3s ease-in-out;
	    position: relative;
	    width: 300px;
	    height: 300px;
	    text-align: center;
	    margin: 20px auto 40px;
	    padding: 80px 0;

	    &:hover {
    		box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    		top: -5px;    	
	    }

	    i {
	    	font-size: 50px;
	    	&.fa-html5 {
				color: $laranja;
	    	}
			&.fa-css3 {
				color: $linkedin;
			}
			&.fa-mobile {
				color: #e6e6e6;
			}
			&.fa-code {
				color: yellow;
			}
			&.fa-asterisk {
				color: azul-claro;
			}
			&.fa-wordpress {
				color: $azul;
			}
			&.fa-bolt {
				color: yellow;
			}
			&.fa-check {
				color: $preto;
			}
	    }
	    p {
	    	font-weight: 900;
	    	border-bottom: 3px solid $preto;
	    	font-size: 24px;
	    	width: 140px;
	    	margin: 0 auto;
	    }
	}
}

#github {
	background-color: #F9F9F9;
	min-height: 275px;
	@include transition(.2s);
	
	h1 {
		border-bottom: 1px solid #e6e6e6;
		padding: 5px;
	}
	.margin-git {
		margin: 80px 0;
		text-align: center;
	}
	.margin-bottom {
		margin: 0 0 20px;
	}
	.thumbnail {
		margin: 0 0 20px;
		.caption {
			.badge {
				margin: 0 15px 0;
			    background-color: #286090;
			    padding: 5px;
			    border-radius: 100%;
			    color: #fff;
				i {
					margin: 0 0 0 5px;
					color: #e6e600;
				}
			}
			a {
				margin: 0 0 0 5px;
			}
		}
	}
}
#portfolio {
	background-color: #f1f1f1;
	min-height: 475px;
	padding: 30px 0 70px;
	margin: 70px 0 0;
	.mix {
		padding: 0;
	}
	.portfolio {
	    padding: 30px 10px;
	    list-style: none;
	    margin-left: 8px;
	    text-align: center;
	    background-color: #4c9cef;
	    li {
	    	display: inline-block;
		    padding: 8px 12px;
		    margin: 2px 8px;
		    text-transform: capitalize;
		    font-size: 14px;
		    font-weight: 400;
		    color: #ffffff;
		    border: none;
		    cursor: pointer;
		    font-size: 13px;
		    &:hover {
		    	color: #000;
		    	border: none;
		    }
		    &.active {
		    	color: #ffffff;
			    background-color: #FFA500;
			    padding: 5px 20px;
			    border-radius: 20px;
			    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
		    }
	    }
	}
	.projetos {
			position: relative;
			@include transition(.3s);
			a {
				&:before {
					content: "\f00e";
					font-family: "FontAwesome";
				    text-align: center;
				    color: #ffffff;
				    position: absolute;
				    font-size: 25px;
				    top: 2%;
				    opacity: 0;
				    left: 0%;
				    right: 0%;
				    background-color: $azul-claro;
				    width: 70px;
				    height: 70px;
				    border-radius: 50%;
				    line-height: 70px;
				    margin: 0 auto;
				    -webkit-transition: all 400ms ease-in-out;
				    transition: all 400ms ease-in-out;
				}		
			    img {
					width: 100%;
				}
			}
		p {
			position: absolute;
			bottom: 0;
			color: $preto;
			margin: 0;
			padding: 3px 10px 3px;
			background-color: #F0F8FF;
			width: 100%;
		}
	}
	.web {
		transition: 0.5s ease-out;
		-webkit-transition: 0.5s ease-out;
	}
	.no-display {
		display: none;
	}
	.projetos:hover a:before {
		top: 40%;
		box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
		-webkit-transition: all 400ms ease-in-out;
		      transition: all 400ms ease-in-out;
	}
	.projetos a:hover:before{
		opacity: 1;
	}
	.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
		margin-top: 50px;
	    font-size: 40px;
	    background-color: $azul-claro;
	    width: 50px;
	    right: 10px;
	    height: 50px;
	    border-radius: 50%;
	    padding-right: 13px;
	}

	.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	    cursor: inherit;
	}
}

#depoimentos {
	display: none;
	background: url('../imagens/catcher.jpg') #000 no-repeat top center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 475px;
	.titulo-contato {
		h2, p {
			color: $branco;
		}
		.divider {
			i {
				color: $azul;
			}
		}
	}
}

#contato {
	margin: 70px 0 70px 0;

	.contato-detalhado {
		position: absolute;
	    left: 83%;
	    top: -4%;
	    background-color: $azul-claro;
	    padding: 10px 20px;
	    border-radius: 5px;
	    font-weight: 600;
	    a {
	    	color: $branco;
	    }
	}
	.contate-me {
		padding: 50px;
	    background-color: #ffffff;
	    box-shadow: -2px 40px 34px -24px rgba(0, 0, 0, 0.2);
	    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	    border: solid 7px $azul-claro;
	    /*border-left-color: #FFA500;*/
	    /*border-right-color: #FFA500;*/

		
		.form-control {
			border: 2px solid transparent;
		    height: 50px;
		    border-radius: 2px;
		    -webkit-border-radius: 2px;
		    -moz-border-radius: 2px;
		    -ms-border-radius: 2px;
		    -o-border-radius: 2px;
		    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
		    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
		    -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
		    -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
		    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
		    -webkit-transition: all 150ms ease-in-out 0s;
		    -moz-transition: all 150ms ease-in-out 0s;
		    -ms-transition: all 150ms ease-in-out 0s;
		    -o-transition: all 150ms ease-in-out 0s;
		    transition: all 150ms ease-in-out 0s;
		}
	    .textarea-msg {
	    	height: auto;
	    }

	    .button {
	    	border: 2px solid $preto;
		    border-radius: 5px;
		    font-size: 17px;
		    font-family: 'Open Sans';
		    color: $preto;
		    background: none;
		    cursor: pointer;
		    padding: 20px 60px;
		    display: inline-block;
		    text-transform: uppercase;
		    letter-spacing: 0.5px;
		    font-weight: 900;
		    outline: none;
		    position: relative;
		    -webkit-transition: all 0.3s;
		    -moz-transition: all 0.3s;
		    transition: all 0.3s;
		    margin: 10px 0 0;

		    &:hover {
		    	background-color: $laranja;
		    	color: $branco;
		    }
	    }
	}

}

footer {
	width: 100%;
	min-height: 200px;
	padding: 30px 0 0;
	background-color: $branco;
	text-align: center;
	background: url('../imagens/games-bg.jpg') repeat;
	background-size: cover;
	opacity: 0.8;
	
	.logo-footer {
		float: left;
		margin: 10px 0 0;
		img {
			width: 50px;
			height: auto;
		}
	}
	.links-footer {
		ul {
			li {
				list-style: none;
				display: inline-block;
				margin: 2px 4px;
				a {
					display: block;
				    width: 60px;
				    height: 60px;
				    line-height: 60px;
				    color: $branco;
				    text-align: center;
				    border: 0 none;
				    border-radius: 50%;
				    font-size: 27px;
				    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
				    transition: all 0.3s ease-in-out;

				    &:hover {
				    	box-shadow: 0px 8px 15px 0px rgba(90, 91, 95, 0.80);
					}
				}
			}
		}
	}
	.copyright {
		margin: 45px 0 0;
		font-weight: bold;
		color: $preto;
	}
}


/* Redes Sociais */

.facebook {
	background-color: $facebook!important;
}
.linkedin {
	background-color: $linkedin!important;
}
.google-plus {
	background-color: $google!important;
}
.github {
	background-color: $preto!important;
}

.scroll-to-top{
	background-color: #4c9cef;
    display: none;
    width: 60px;
    height: 60px;
    font-size: 25px;
    border-radius: 100%;
    line-height: 60px;
    text-align: center;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 999;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    transition: all 0.3s ease-in-out;
    &.ativo{
    	display: inline;
    }
    &:hover {
    	background-color: #FFA500;
    	color: #ffffff;
    	box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    }
}

.titulo-contato {
		text-align: center;
		margin-bottom: 20px;
	}
	.divider {
		position: relative;
		width: 125px;
		margin: 20px auto 20px;
		overflow: hidden;
		text-align: center;
		&:before {
			left: 0;
			content: ' ';
			width: 43px;
			position: absolute;
			border-bottom: dotted 2px #b2b2b2;
			top: 50%;
			margin-top: -4px;
		}
		&:after {
			right: 0;
			content: ' ';
			width: 43px;
			position: absolute;
			border-bottom: dotted 2px #b2b2b2;
			top: 50%;
			margin-top: -4px;
		}
		i {
			color: $laranja;
			font-size: 21px;
		}
	}

@media screen and (max-width: $tablet) {
	header .links > nav {
		display: none;
	}
	header {
		.toggle {
			display: block;
			span {
				background-color: $branco;
			}
			&.ativo {
				z-index: 9999;
			}
		}
		.logo {
			margin: 23px 23px 0;
		}
		.links {
			margin: 0 2px 0;
			.social {
				li {
					&:hover {
						background-color: $laranja;
					}
				}
			}
		}
		.menu {
			background-color: $azul-claro;
			height: 80px;
		}
	}
	.menu-responsivo {
		&.ativo {
			top: 80px;
		}
		ul {
			li {
				&:hover {
					font-size: 16px;
				}
			}
		}
	}
	#github {
		.thumbnail {
			.caption {
				.badge {
					display: none;
				}
			}
		}
	}
	#projetos {
		img {
			width: 100%;
		}
	}
	#contato {
		.contato-detalhado {
			left: 38%;
			top: -1%;
		}
	}
	.scroll-to-top {
		width: 40px;
		height: 40px;
		line-height: 40px;
		right: 50px;
	}
}